---
layout: default
title: Transmisión del MiauDev
---

<main>
  <video controls autoplay="false" poster="assets/cover.jpg">
    {% for format in site.streaming.formats %}
    <source src="{{ site.streaming.url }}/{{ site.streaming.stream }}.{{ format }}"
            id="{{ format }}"
            type="video/{{ format }}"/>
    {% endfor %}
  </video>
  {% if site.streaming.chat %}
    <iframe class="chat" src="{{ site.streaming.chat }}"></iframe>
  {% endif %}
</main>
