---
---

html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
}

video {
  flex: 5 auto;
/*  background-image: url(cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
  max-width: 60%;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
  video {
    max-width: 100%;
  }
}

.chat {
  flex: 1 auto;
  border: none;
}
