<!DOCTYPE html>
<html lang="{{ site.lang }}" prefix="og: http://ogp.me">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/favicon.gif">
    <link href="assets/main.css" rel="stylesheet" />

    {% seo %}
  </head>
  <body>
    {{ content }}
    <script type="text/javascript" src="assets/streaming.js"></script>
  </body>
</html>
